<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Saludo</title>
</head>
<body>
    {% include "navbar.html" %}
    Hello hhh
    Mi nombre es {{ nombre }}
    <div>
        <p>Meses del año</p>
        <select name="select">
            <option value="-1">Seleccione el mes</option>
            {% for mes in los_meses%}
            <option value="1"> {{ mes }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        Mi lista {{ lista.0 }}
    </div>
    <div>
        Fecha actual {{ f_actual }}
    </div>
</body>
</html>