{% extends 'index.html' %}
{% load static %}
{% block titulo %} Confirmación eliminación {% endblock %}
{% block breadcrumb %}
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <!--<div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="#">Dashboard</a></li>
                                <li><a href="#">Table</a></li>
                                <li class="active">Data table</li>
                            </ol>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-9 offset-md-3 mr-auto ml-auto">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <p>¿Esta seguro que desea eliminar el componete nutricional
                                <strong>{{ object.comp_nutricional }}</strong>? </p>
                            <button type="submit" class="btn btn-outline-warning btn-sm float-right">
                                <i class="fas fa-check-square"></i>
                                CONFIRMAR
                            </button>
                            <a href="{% url 'listar-comps-nuts' %}" class="btn btn-outline-dark btn-sm">
                                <i class="fas fa-window-close"></i>
                                CANCELAR
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}